* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primaryRed: hsl(0, 78%, 62%);
  --primaryCyan: hsl(180, 62%, 55%);
  --primaryOrange: hsl(34, 97%, 64%);
  --primaryBlue: hsl(212, 86%, 64%);

  --neutralVeryDarkBlue: hsl(234, 12%, 34%);
  --neutralGrayishBlue: hsl(229, 6%, 66%);
  --neutralVeryLightGray: hsl(0, 0%, 98%);

  --fuente: "Poppins", sans-serif;

  --sm: 1.2rem;
  --md: 1.5rem;
  --lg: 2.4rem;
}

body {
  font-size: 1.5rem;
  font-family: var(--fuente);
  background-color: var(--neutralVeryLightGray);
}

.contenedor-principal {
  display: grid;
  place-items: center;
  width: 100%;
  height: 90%;
}

/*.contenedor-secundario {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 1.5rem;
}
  */

.encabezado {
  text-align: left;
  width: 35rem;
  margin: 1rem;
}

.h1 {
  font-size: var(--lg);
  font-weight: 100;
  color: var(--neutralVeryDarkBlue);
}

.h2 {
  font-size: var(--lg);
  font-weight: bold;
}

.parrafo {
  font-size: var(--md);
  color: var(--neutralGrayishBlue);
  font-weight: 400;
  margin-bottom: 6rem;
}

.section-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cards {
  background-color: white;
  padding: 1rem;
  width: 30rem;
  height: auto;
  margin: 0 auto 1.5rem auto;
  border-radius: 1.8rem;
}

.h3 {
  font-size: var(--md);
  color: var(--neutralVeryDarkBlue);
  margin-left: 1rem;
}

.cards-parrafo {
  color: var(--neutralGrayishBlue);
  font-size: var(--sm);
  margin-left: 1rem;
}

.picture-img {
  width: 5rem;
  height: 5rem;
  margin: 2rem 0 0 22rem;
}
.cards-1 {
  border-top: 0.4rem solid var(--primaryCyan);
}

.cards-2 {
  border-top: 0.4rem solid var(--primaryRed);
}

.cards-3 {
  border-top: 0.4rem solid var(--primaryOrange);
}

.cards-4 {
  border-top: 0.4rem solid var(--primaryBlue);
}

@media (min-width: 660px) {
  /*.contenedor-secuandario {
    width: 90%;
    margin: 0 auto;
  }
    */

  .encabezado {
    width: 60vw;
    max-width: 60rem;
    text-align: center;
    letter-spacing: 1.5;
    margin: 0 auto;
  }

  .cards {
    height: 20rem;
  }

  .section-cards {
    position: relative;
    width: 100rem;
    height: auto;
    overflow: hidden;
  }

  .cards-1 {
    position: absolute;
    top: 12rem;
    left: 1rem;
  }

  .cards-4 {
    position: absolute;
    top: 12rem;
    right: 1rem;
  }
}
